Debug/*
WowAddin/Debug/*
*.sdf
*.suo
*.opensdf
ipch/*
Release/Extreme Injector v2 by master131.exe
Release/WowAddin.dll
Release/WowAddin.pdb
Release/settings.xml
WowAddin/Release/CDataStore.obj
WowAddin/Release/CL.read.1.tlog
WowAddin/Release/CL.write.1.tlog
WowAddin/Release/ClientServices.obj
WowAddin/Release/Commands.obj
WowAddin/Release/Console.obj
WowAddin/Release/ObjectMgr.obj
WowAddin/Release/OpcodeHandlers.obj
WowAddin/Release/WowAddin.lastbuildstate
WowAddin/Release/WowAddin.log
WowAddin/Release/WowAddin.pch
WowAddin/Release/cl.command.1.tlog
WowAddin/Release/dllmain.obj
WowAddin/Release/link-cvtres.read.1.tlog
WowAddin/Release/link-cvtres.write.1.tlog
WowAddin/Release/link-rc.read.1.tlog
WowAddin/Release/link-rc.write.1.tlog
WowAddin/Release/link.command.1.tlog
WowAddin/Release/link.read.1.tlog
WowAddin/Release/link.write.1.tlog
WowAddin/Release/stdafx.obj
WowAddin/Release/vc110.pdb
